{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "parserOptions": {
        "ecmaVersion": 2017,
        "sourceType": "module",
        "impliedStrict": true,
        "ecmaFeatures": {
            "jsx": true,
            "experimentalObjectRestSpread": true
        }
    },
    "plugins": [
        "react"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "standard-preact"
    ],
    "rules": {
        "semi": [2, "always"],
        "no-await-in-loop": [1],
        "getter-return": [2],
        "no-new-wrappers": [1],
        "no-new-func": [1],
        "no-new": [1],
        "no-multi-str": [1],
        "no-multi-spaces": [1],
        "no-loop-func": [1],
        "no-lone-blocks": [1],
        "no-labels": [1],
        "no-implied-eval": [1],
        "no-floating-decimal": [1],
        "no-extra-bind": [1],
        "no-extend-native": [1],
        "no-eval": [1],
        "no-eq-null": [1],
        "no-empty-function": [1],
        "no-else-return": [1],
        "eqeqeq": [1],
        "default-case": [1],
        "complexity": [1, 12],
        "consistent-return": [1, { "treatUndefinedAsUnspecified": false }],
        "array-callback-return": [1],
        "no-template-curly-in-string": [1],
        "yoda": [1],
        "wrap-iife": [1],
        "require-await": [1],
        "radix": [1],
        "prefer-promise-reject-errors": [1],
        "no-with": [1],
        "no-useless-return": [1],
        "no-useless-concat": [1],
        "no-useless-call": [1],
        "no-unused-expressions": [1, {
          "allowShortCircuit": true
        }],
        "no-unmodified-loop-condition": [1],
        "no-throw-literal": [1],
        "no-self-compare": [1],
        "no-script-url": [1],
        "no-return-await": [1],
        "no-return-assign": [1],
        "no-restricted-properties": [1],
        "no-param-reassign": [1],
        "no-octal-escape": [1],
        "handle-callback-err": [1],
        "callback-return": [1],
        "no-use-before-define": [1],
        "no-undef-init": [1],
        "no-shadow-restricted-names": [1],
        "no-shadow": [1],
        "no-restricted-globals": [1],
        "no-catch-shadow": [1],
        "init-declarations": [1],
        "object-property-newline": [1],
        "object-curly-spacing": [1, "always"],
        "object-curly-newline": [1, { "consistent": true }],
        "nonblock-statement-body-position": [1],
        "no-whitespace-before-property": [1],
        "no-unneeded-ternary": [1],
        "no-trailing-spaces": [1],
        "no-tabs": [1],
        "no-negated-condition": [1],
        "no-lonely-if": [1],
        "new-parens": [1],
        "new-cap": [1],
        "max-statements-per-line": [1],
        "max-params": [1, 6],
        "max-nested-callbacks": [1, 4],
        "max-len": [1, 150],
        "max-depth": [1, 8],
        "linebreak-style": [1, "unix"],
        "jsx-quotes": [1, "prefer-double"],
        "indent": [1, 2, {
            "SwitchCase": 1
        }],
        "func-name-matching": [1],
        "eol-last": [1],
        "consistent-this": [1],
        "comma-style": [1],
        "comma-spacing": [1],
        "comma-dangle": [1, {
            "arrays": "only-multiline",
            "objects": "only-multiline",
            "imports": "only-multiline",
            "exports": "only-multiline",
            "functions": "only-multiline"
        }],
        "camelcase": [1],
        "brace-style": [1],
        "block-spacing": [1],
        "yield-star-spacing": [1],
        "symbol-description": [1],
        "rest-spread-spacing": [1],
        "prefer-template": [1],
        "prefer-spread": [1],
        "prefer-rest-params": [1],
        "prefer-numeric-literals": [1],
        "prefer-destructuring": [1],
        "prefer-const": [1],
        "prefer-arrow-callback": [1],
        "object-shorthand": [1],
        "no-var": [2],
        "no-useless-rename": [1],
        "no-useless-constructor": [1],
        "no-useless-computed-key": [1],
        "no-duplicate-imports": [1],
        "generator-star-spacing": [1],
        "arrow-spacing": [1],
        "arrow-body-style": [1],
        "space-infix-ops": [1],
        "space-in-parens": [1],
        "space-before-blocks": [1],
        "semi-style": [1],
        "quotes": [1, "single"],
        "react/jsx-curly-spacing": [1, {
            "when": "never"
        }]
    },
}
